<div class="kanban">
  <div class="kanban__content">
      <ul class="task-list task-list__ready">
        <span class="task-list__title">Ready</span>
        <li class="task-item">Login page – performance issues</li>
        <li class="task-item">Sprint bugfix</li>
      </ul>
      <ul class="task-list task-list__in-progress">
        <span class="task-list__title">In Progress</span>
        <li class="task-item">Shop bug1</li>
      </ul>
      <ul class="task-list ttask-list__finished">
        <span class="task-list__title">Finished</span>
        <li class="task-item">User page – performance issues</li>
      </ul>
  </div>
</div>