.kanban {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 19px 0px;
  background-color: #0079BF;
}

.kanban__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1770px;
  column-gap: 24px;
}

.task-content {
  width: 100%;
  height: fit-content;
  padding: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #EBECF0;
  border-radius: 10px;
}

.task-content__title {
  display: block;
  margin-bottom: 15px;
}

.task-item {
  padding: 15px 14px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.task-item__title {
  display: block;
}

.task-item__task-executor {
  display: none;
  margin-top: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.25);
}

.task-item:not(:last-child) {
  margin-bottom: 15px;
}

.task-content__input {
  display: none;
  margin-top: 22px;
  margin-bottom: 6px;
}

.task-content__select {
  display: none;
}

.task-content__btn-add {
  display: flex;
  align-items: baseline;
  column-gap: 4px;
  width: 35%;
  margin: 14px 0px 5px 0px;
  padding: 3px 0px 3px 2px;
  color: #5E6C84;
}

.task-content__btn-submit {
  display: none;
  width: 35%;
  text-align: center;
  margin: 14px 0px 5px 0px;
  padding: 3px 0px 3px 2px;
  background: #0079BF;
  border-radius: 5px;
  color: #FFFFFF;
}

.tasks-state-panel {
  padding: 17px 21px;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #0067A3;
}

.tasks-state-panel__list {
  display: flex;
  flex-direction: row;
  column-gap: 36px;
}

.tasks-state-panel__name {
  margin-left: auto;
}
